.profile {
	width: 225px;
	border: 3px solid #9bc1ff;
}

.navbar-default {
	background-color: #9bc1ff;
}

.panel-heading {
	background-color: #9bc1ff;
	color: white;
	font-weight: bold;
	text-align: center;
}

.navbar-default .my-brand {
	color: white;
	font-weight: bold;
	font-size: 20px;
}

.navbar-default .my-brand:hover {
	color: white;
}

.panel {
	border: 2px solid lightgrey;
}

.nav.navbar-nav.navbar-right li a {
	color: white;
}

.center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.media-object {
	display: block;
	margin: auto;
}

.title {
	border-bottom: 3px solid #9bc1ff;
}


.thumbnail2 {
    position: relative;
    margin: auto;
    width: 350px;
}

.image {
	width: 350px;
	height: 250px;
}

.caption {
    position: absolute;
    top: 80%;
    left: 0;
    width: 350px;
    line-height: 30px;
    background-color: #9bc1ff;
    font-weight: bold;
    color:white;
}

.connect-box {
	text-align: center;
	width: 100%;
	margin: auto;
}

#submit {
	color: #ffffff;
	background: #9bc1ff;
	font-size: 25px;
	border: 0px none;
	}

#resume {
	margin: auto;
}

body {
	background-image: url("../images/background.png");
	background-position: top left;
	background-repeat: repeat-x repeat-y;
}

h1 {
	color: #9bc1ff;
}

footer {
	background: black;
	line-height: 36px;
	text-align: center;
	color: white;
	position: fixed;
	bottom: 0px;
	width: 100vw;
}

@media (min-width: 0px) and (max-width: 1200px) {
	.profile {
		display: block;
		margin: auto;
		width: 300px;
		margin-bottom: 10px;
	}

	p {
		text-align: center;
	}
	.image {
		width: 250px;
		height: 150px;

	}

	.caption {
		top: 70%;
		width: 250px;
	}

	.thumbnail2 {
		width: 250px;
	}

}


